/* header */

.banner {
    background-image:url(images/devprog.jpg);
    background-size: cover;
    min-height: 300px;
    display : flex;
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
}

.nav1, .nav2 {
    width : 50%;
    padding : 40px;
}

.nav1 ul {
    list-style-type: none;
    display : flex;
    justify-content : space-around;
}

.nav2 ul {
    justify-content : right;
    float: right;
    list-style-type: none;
}

nav ul a {
    color : #e07dc3;
    font-weight: bold;
    text-decoration:none;
    font-size : 24px;
}

/* footer */

.footer {
    display : flex;
    justify-content: space-around;
    background-color: #6c4ccc;
    min-height : 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : white;
}

.footer div {
    margin: auto;
}

.footer a {
    text-decoration:none;
    color : white;
}

.sub_footer {
    display: flex;
    justify-content: space-around;
}

.copyright {
    background-color: #301f61;
    min-height : 50px;
    display: flex;
    justify-content: center;
}

.copyright p {
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : white;
}

.footer img {
    max-width : 40px;
    max-height : 40px;
}
.sub_footer img {
    margin-right: 10px;
}

/* --------------------   homepage   ------------------------ */

body {
    margin : 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.mainpart {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 40px auto 0 auto;
    width : 80%;
}

.logoname {
    flex :  1;
}

.catchingwords {
    margin : auto 0 auto 100px;
    flex: 2;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom : 50px;
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: 18px;
    text-align :center;
}

h2 {
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

.socialmedia {
    display : flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    align-items: center;
}

.socialmedia img {
    max-height : 50px;
    max-width : 50px;
    margin-top: 9px;
}

.homeBar {
	border: solid;
    height: 2px;
    color: #adacab;
    margin: 30px auto 80px auto;
    width: 50%;
}

.creation h2 {
    text-align: center;
}

.cv {
    text-align: center;
    margin : 50px auto 0 auto;
    border : double 6px #23096b;
    border-radius: 30%;
    width:15%;
    padding : 10px;
}

.cv h4 {
    color: black;
    font-weight: bold;
    margin: 0 auto;
}

.cv img {
    max-width: 30px;
    max-height: 30px;
}

.work_creation {
    width: 40%;
}



.global_work {
    display: flex;
}

/* ------------- form ------------------ */

form {
    border: solid 2px #23096b;
    padding: 20px;
    margin: 0 auto 80px auto;
    border-radius: 10%;
    font-size: 24px;
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
}

.form_contact h2 {
    text-align: center;
    font-size: 30px;
}

.form_contact {
	margin: auto;
    display: flex;
	flex-direction: column;
    width: 70%;
    align-items: center;
	height: 100%;
    background-color : white;
}


.form_button {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 4px;
}

.form_case {
	display: flex;
	flex-direction: column;
}

.form_case textarea {
	resize: none;
	border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 4px;

}

button { 
    background-color: #e07dc3;
    border-radius: 10px;
    font-family: 'Parisienne';
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-width: 0px;
}


/* -------------------------------------- passion.php ---------------------------------------- */

.passion {
    display:flex;
    flex-direction: row;
    width : 70%;
    margin : 0 auto 80px auto;
}

.passion img {
    margin: auto;
}

.passionTitle {
    color : #e07dc3;
}

.passion h2 {
    font-size : 28px;
}

.passionTitle h1 {
    font-size : 46px;
}

.passionPic img {
    max-width:80%;
    max-height : 80%;
    padding: 20px;
    
}

#passionBar{
    width: 15%;
    background-color: #e07dc3 ;
    border: solid;
    height: 0.2px;
    color: #e07dc3;
    margin: 20px auto 80px auto;
}

.passionText, .passionPic {
    flex : 1;
    justify-content: center;
    justify-items: center;
    background-color: antiquewhite;
    text-align: center;
}

.passionText p, .passionText h2 {
    padding : 0 20px 0 20px;
}

.passionPic {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.passionText p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------ contact.php ----------------------*/

#contactPage {
    background-image: url(images/digitV2.jpg);
    background-size: cover;
}

.bannerContact {
        min-height: 300px;
        display : flex;
        font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
}

.bannerContact a {
    color: #e07dc3;
}

.contactInfo {
    color: #e07dc3;
    margin : 0 100px 200px 40px; 
    width : 20%;
    font-weight: bold;
    padding : 50px;
    border : 3px solid #e07dc3;
    border-radius: 50%;
}

#getInTouch {
    margin-bottom : 50px;
    text-align: center;
}

.logoContact {
    display : flex;
    flex-direction: row;
    justify-content: center;
}

.logoContact img {
    max-width:  30px;
    max-height: 30px;
}

.logoContact p {
    margin : 0;
    padding-left : 10px;
    
}

/* ------------ post template ------------------- */

.return a {
    color : blue;
    text-align: right;
    text-decoration: none;
    border : solid 1px grey;
    border-radius: 2px;
}

.comments {
    width :80%;
}