/* header */

.banner {
    background-image:url(images/devprog.jpg);
    background-size: cover;
    min-height: 300px;
    display : flex;
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
}

.nav1, .nav2 {
    width : 50%;
    padding : 40px;
}

.nav1 ul {
    list-style-type: none;
    display : flex;
    justify-content : space-around;
}

.nav2 ul {
    justify-content : right;
    float: right;
    list-style-type: none;
}

nav ul a {
    color : white;
    font-weight: bold;
    text-decoration:none;
    font-size : 24px;
}

/* footer */

.footer {
    display : flex;
    justify-content: space-around;
    background-color: #6c4ccc;
    min-height : 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : white;
}

.footer div {
    margin: auto;
}

.footer a {
    text-decoration:none;
    color : white;
}

.sub_footer {
    display: flex;
    justify-content: space-around;
}

.copyright {
    background-color: #301f61;
    min-height : 50px;
    display: flex;
    justify-content: center;
}

.copyright p {
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : white;
}

.footer img {
    max-width : 40px;
    max-height : 40px;
}
.sub_footer img {
    margin-right: 10px;
}

/* homepage */

body {
    /* background: linear-gradient(to right, #0A0B39, #1b0675 20%, #1321a3 40%,#1321a3 60%,#1b0675 80%, #0A0B39 100%); */
    color : black;
    margin : 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.mainpart {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 40px auto 0 auto;
    width : 80%;
}

.logoname {
    flex :  1;
}

.catchingwords {
    margin : auto 0 auto 100px;
    flex: 2;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom : 50px;
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: 18px;
    text-align :center;
}

h2 {
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

.socialmedia {
    display : flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    align-items: center;
}

.socialmedia img {
    max-height : 50px;
    max-width : 50px;
    margin-top: 9px;
}

hr {
	border: solid;
    height: 2px;
    color: #adacab;
    margin: 100px auto;
    width: 50%;
}

.creation h2 {
    text-align: center;
}

.cv {
    text-align: center;
}

.cv h4 {
    color: black;
    font-weight: bold;
    margin: 0 auto;
}

.cv img {
    max-width: 30px;
    max-height: 30px;
}


/* form */

form {
    border: solid 2px #23096b;
    padding: 20px;
    margin: 0 auto 80px auto;
    border-radius: 10%;
    font-size: 24px;
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
}

.form_contact h2 {
    text-align: center;
    font-size: 30px;
}

.form_contact {
	margin: auto;
    display: flex;
	flex-direction: column;
    width: 70%;
    align-items: center;
	height: 100%;
    background-color : white;
}


.form_button {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 4px;
}

.form_case {
	display: flex;
	flex-direction: column;
}

.form_case textarea {
	resize: none;
	border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 4px;

}

button { 
    background-color: #e07dc3;
    border-radius: 10px;
    font-family: 'Parisienne';
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-width: 0px;
}