/* header */

.banner {
    background-image:url(images/devprog.jpg);
    background-size: cover;
    min-height: 300px;
    display : flex;
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
}

.nav1, .nav2 {
    width : 50%;
    padding : 40px;
}

a:hover, a:active {
    text-decoration:none; 
    color: white;
}

.footer a:hover, .footer a:active {
    text-decoration:none; 
    color: #e07dc3;
}

body > footer > div.footer > div.social_bloc > div:nth-child(1) {
    margin-right: 120px;
}

.nav1 ul {
    list-style-type: none;
    display : flex;
    justify-content : space-around;
}

.nav2 ul {
    justify-content : right;
    float: right;
    list-style-type: none;
}

nav ul a {
    color : #e07dc3;
    font-weight: bold;
    text-decoration:none;
    font-size : 24px;
}

/* footer */

.footer {
    display : flex;
    justify-content: space-around;
    background-color: #6c4ccc;
    min-height : 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : white;
}

.footer div {
    margin: auto;
}

.footer a {
    text-decoration:none;
    color : white;
    
}


.sub_footer {
    display: flex;
    justify-content: space-around;
}

.copyright {
    background-color: #301f61;
    min-height : 50px;
    display: flex;
    justify-content: center;
}

.copyright p {
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : white;
}

.footer img {
    max-width : 40px;
    max-height : 40px;
}
.sub_footer img {
    margin-right: 10px;
}

.social_bloc {
    display: flex;
    justify-content: space-around;
}

#contactPage > footer > div.footer > div.social_bloc > div:nth-child(1) {
    margin-right: 120px;
    margin-left: -50px;
}



/* --------------------   homepage   ------------------------ */

body {
    margin : 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.mainpart {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 40px auto 0 auto;
    width : 80%;
}

.logoname {
    flex :  1;
}

.catchingwords {
    margin : auto 0 auto 100px;
    flex: 2;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom : 50px;
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
    color:#e07dc3;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    text-align: center;
}

body > div.mainpart > div.catchingwords > div.socialmedia > h4 {
    margin-top: auto;
}
h2 {
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    color: #e07dc3;
    font-weight: bold;
}

#catchBar {
    width: 30%;
    background-color: #e07dc3 ;
    border: solid;
    height: 0.2px;
    color: #e07dc3;
    margin: 20px auto 40px auto;
}

.catchingwords h1 {
    margin-bottom : 10px;
}

.socialmedia {
    display : flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    align-items: center;
}

.socialmedia img {
    max-height : 50px;
    max-width : 50px;
    margin-top: 9px;
}

.homeBar {
	border: solid;
    height: 2px;
    color: #adacab;
    margin: 30px auto 80px auto;
    width: 50%;
}

.creation h4 {
    text-align: center;
    padding: 10px;
    max-width: 190px;
}

.creation_title h2 {
    text-align: center;
    padding: 10px;
}


.creation img {
    height: 190px;
    width: 190px;
}


.posts_picture img:last-child, .posts_picture:hover img:first-child {
    display:none;
}

.posts_picture:hover img:last-child {
    display:block;
    opacity: 0.7;
}

.posts_link {
    max-height: 200px;
}

.posts_title {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    
}

.posts_title h4 {
    margin-bottom : 0;
    line-height: 100%;
}

.creation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 200px;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.global_creation {
    display: flex;
    justify-content: space-around;
    margin-bottom : 100px;
}

.cv {
    text-align: center;
    margin : 50px auto 0 auto;
    border : double 6px #23096b;
    border-radius: 30%;
    width:15%;
    padding : 10px;
}

.cv h4 {
    color: black;
    font-weight: bold;
    margin: 0 auto;
}

.cv img {
    max-width: 30px;
    max-height: 30px;
}

/* ------------- form ------------------ */

form {
    border: solid 2px #23096b;
    padding: 20px;
    margin: 0 auto 80px auto;
    border-radius: 10%;
    font-size: 24px;
    font-family :'Parisienne', 'Arial Narrow', Arial, sans-serif;
    width: 60%;
}

.form_contact h2 {
    text-align: center;
    font-size: 30px;
}

.form_contact {
	margin: auto;
    display: flex;
	flex-direction: column;
    width: 70%;
    align-items: center;
	height: 100%;
    background-color : white;
}


.form_button {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

input, textarea {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
}

.form_case {
	display: flex;
	flex-direction: column;
}

.form_case textarea {
	resize: none;
	border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 4px;

}

button { 
    background-color: #e07dc3;
    border-radius: 10px;
    font-family: 'Parisienne';
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-width: 0px;
}

body > div:nth-child(2) > form {
    margin-top: 40px;
}

/* -------------------------------------- passion.php ---------------------------------------- */

.passion {
    display:flex;
    flex-direction: row;
    width : 70%;
    margin : 0 auto 80px auto;
}

.passion img {
    margin: auto;
}

.passionTitle {
    color : #e07dc3;
}

.passion h2 {
    font-size : 28px;
}

.passionTitle h1 {
    font-size : 46px;
    margin-top: 70px;
}

.passionPic img {
    max-width:80%;
    max-height : 80%;
    padding: 20px;
    
}

.passionBar{
    width: 15%;
    background-color: #e07dc3 ;
    border: solid;
    height: 0.2px;
    color: #e07dc3;
    margin: 20px auto 80px auto;
}

.passionText, .passionPic {
    flex : 1;
    justify-content: center;
    justify-items: center;
    background-color: antiquewhite;
    text-align: center;
}

.passionText p, .passionText h2 {
    padding : 0 20px 0 20px;
}

.passionText h2 {
    margin-top: 20px;
}

.passionPic {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.passionText p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* ------------------ contact.php ----------------------*/

#contactPage {
    background-image: url(images/digitV2.jpg);
    background-size: cover;
}

#contactPage div.banner {
    background-image: none;
}

.contactInfo {
    color: #e07dc3;
    margin : 0 100px 200px 40px; 
    width : 20%;
    font-weight: bold;
    padding : 50px;
    border : 3px solid #e07dc3;
    border-radius: 50%;
}

#getInTouch {
    margin-bottom : 50px;
    text-align: center;
}

.logoContact {
    display : flex;
    flex-direction: row;
    justify-content: center;
}

.logoContact img {
    max-width:  30px;
    max-height: 30px;
}

.logoContact p {
    margin : 0;
    padding-left : 10px;
    
}

/* ------------ post template ------------------- */

.post {
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin: 0 auto 100px auto;
    width: 70%;
}

.return_button {
    display: flex;
    margin: auto auto 30px auto;
    justify-content: center;
    width: 50%;
}

.return_button button {
    font-size: 20px;
}

#exampleModal > div > div > div.modal-footer > button.btn.btn-danger, #exampleModal > div > div > div.modal-footer > button.btn.btn-secondary {
    margin: 0 10px 10px 10px;
}

.modal-dialog button { 
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 50%;
}

.modal-footer {
    width: 60%;
    margin: auto;
}

body > div.post > div.post_author > h4:nth-child(2) {
    font-style: italic;
    font-size: 14px;
}

.post_author {
    padding-top: 20px;
}

.post_title h1 {
    margin: 80px auto 0 auto;
    font-size: 46px;
}

body > div.post > div.post_chapo > h4, .post_content h4 {
    text-align: left;
    padding: 0 20px 0 20px;
}

.post_content h4 {
    margin-top: 40px;
}

.bloc_post_pic {
    display: flex;
    justify-content: center;
    margin: 60px auto 60px auto;
}

#post_pic {
    max-height: 500px;
    max-width: 500px; 
}

.return a {
    color : blue;
    text-align: right;
    text-decoration: none;
    border : solid 1px grey;
    border-radius: 2px;
}

body > div:nth-child(2) > a {
    border: none;
}

.comment_bloc {
    width: 70%;
    border : solid 1px #ced4da;
    border-radius: 2px;
    margin: auto;
    border-bottom: none;
}

.comments_author h4, .comments_content h4 {
    font-size: 16px;
}

.comments_author h4{
    font-weight: lighter;
}

.comment_head {
    display: flex;
    background-color: #e3e9f0;
    border-bottom : solid 1px #ced4da;
    border-radius: 2px;
    margin-bottom: 20px;
}

.comment_head h4 {
    padding: 10px 0 5px 20px;
}

.comment_bar {
    margin: 20px auto 20px 0;
}



.comments_list h4 {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

#comment_connect {
    margin: 100px auto 50px auto;
}

.post_admin {
    display: flex;
    flex-direction: row;
    margin: 20px auto 30px auto;
}

.post_admin button {
    width: 60%;
} 

#no_comment {
    border-bottom : solid 1px #ced4da;
    border-radius: 2px;
}

#no_comment p {
    padding-left: 20px;
    font-style: italic;
}

.user_administration {
    display: flex;
    flex-direction: column;
}

.search_bloc {
    display: flex;
}

.user_administration input {
    min-width: 300px;
    padding-left: 10px;
}

.user_search_form {
 border: none;
 border-left: solid 3px #ced4da;
 border-radius: 0%;
 margin: auto 0 100px 100px;
}  

#search_button {
    max-width: 40px;
    max-height: 40px;
    padding : 10px 5px 5px 5px;
    margin: 0 0 0 10px;
}




/* ------ Account informations header --------- */

.user_info{
    background-color: #301f61;
    height: 60px;
    display: flex;
    justify-content: center;
}

.username {
    font-size: 30px;
    font-family: 'Parisienne';
    color:#e07dc3;
    margin: auto;
}

.logo {
    max-width : 20px;
    max-height: 20px;
}

/* ------ Blogposts --------- */

.work_creation {
    border: 1px solid #ced4da;
    border-radius: 3px;
    width: 70%;
    margin: auto auto 120px auto;

}

.title_bloc {
    min-height: 70px;
    border-bottom: 1px solid #ced4da;
    display: flex;
    justify-content: left;
}

.title_bloc h2 {
    color: #e07dc3;
    font-weight: bold;
    padding: 10px 0 0 20px;
}

.author_bloc {
    display: flex;
}

.author_bloc h4 {
    font-style: italic;
    padding: 20px 0 0 20px;
    font-size: 14px;
}

.chapo_bloc h4 {
    text-align: left;
    padding: 0 20px 0 20px;

}

.work_creation hr {
    color: #ced4da;
    width: 80%;
}

.pic_bloc img {
    height: 200px;
    width: 200px;
}


.posts_picture img:last-child, .posts_picture:hover img:first-child {
    display:none;
}

.posts_picture:hover img:last-child {
    display:block;
    opacity: 0.7;
}

.post_bloc {
    display: flex;
}

.blogposts_title h1 {
    margin: 70px auto auto auto;
    font-size: 46px;
}

/* ------ Admin --------- */

body > div.role_change_bloc > form > div.form_button > button {
    width: 40%;
}

body > div.role_change_bloc > form {
    width: 70%;
}

span {
    font-weight: bold;
}

select {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding: 5px 20px;
    text-align: left;
    margin-left: 10px;
}

#admin_creation {
    margin-bottom : 0;
}

.post_admin_page {
    display: flex;
    border: 1px solid #ced4da;
    border-top: none;
    border-radius: 3px;
    width: 70%;
    margin: auto auto 60px auto;
    padding-top: 10px;
}

.post_admin_page button {
    margin: 20px auto 0 auto;
    width: 100%;
}

.info_bloc {
    max-height: 200px;
}

.info_bloc hr {
    margin-left: 0;
}

.adminNav ul {
    font-family: 'Parisienne';
    border : 2px solid #ced4da;
    padding: 0;
}

body > div.adminNav > div.nav1 {
    margin: -40px auto 0 auto;
    width: 80%;
}

.admin_title h1 {
    margin : 20px auto 0 auto;
    color:#e07dc3;
    font-weight: bold;
    font-size: 50px;
}

.section_title {
    margin: 50px 0 30px 50px;
}

.comments_validation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.validation_button {
    display: flex;
    margin-right: auto;
    justify-content: space-around;
}

.validation_system {
    display:flex;
    flex-direction: column;
    margin: auto;
    border: 3px solid #ced4da;
    border-radius: 6px;
    padding : 20px;
    width : 60%;
}

.comment_button {
    display: flex;
    margin: auto 20px auto auto;

}

.comment_author {
    border-bottom : 2px solid #ced4da;
}

.comment_content {
    margin-top: 20px;
}

.form_role_change {
    border: 3px solid #ced4da;
    border-radius: 6px;
    margin-left: 100px;
    margin-top: -70px;
}

/* ------ Moderated comments page --------- */

.pagination_bloc {
    display: flex;
    justify-content: center;
    margin: auto;
}

.pagination, .actual_pagination {
    margin: 50px 10px 50px 10px;
    background-color: #6c4ccc;
    border: solid 2px #ced4da;
    padding: 5px 15px;
}

.actual_pagination {
    color: white;
}

.pagination a {
    color: #e07dc3;
}

#moderated_comment {
    width: 70%;
    margin: 80px auto 80px auto;
}

#moderated_title {
    margin: 40px auto 40px auto;
}

#moderation_bloc2 {
    display:flex;
    flex-direction: column;
    width : 20%;
    margin: auto;
}

#moderation_button {
    display: flex;
    margin: 0;
    justify-content: center;
}

.restauration_details {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

.no_restauration_list {
    font-style: italic;
    text-align: center;
    margin-bottom: 80px;
}

#moderatedBar {
    margin-bottom: 120px;
}

/* ------ Post creation page --------- */

#image_input {
    padding: 10px;
}

.form_post_creation form {
    border: 3px solid #ced4da;
    border-radius: 6px;
    width: 70%;
}

.form_post_creation label {
    margin: 20px 0 0 0;
   
}

.form_post_creation button {
    margin-top: 50px;
}

/* ----------------- Legal Notice ----------------------- */

.mlpdc {
	max-width: 70%;
	margin: 50px auto 100px auto;
}

.mlpdc h5 {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
    margin-bottom: 40px;
}

.mlpdc h6 {
	font-weight: bold;
	font-size: 18px;
}

.mlpdc p {
	text-align: left;
    margin-bottom: 50px;
}

